# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*__pycache__
.pyc

# Virtual environment
venv/
.venv/

# Django
db.sqlite3
staticfiles/
media/

# Environment/config
.env
.env.*

# IDE/editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
